@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import "../scss/_variables.scss";
@import "../scss/_common.scss";
@import "../scss/_header.scss";
@import "../scss/_list.scss";
@import "../scss/_detail.scss";
@import "../scss/_modal.scss";
@import "../scss/_footer.scss";
//.terms{
//  margin-top: 60px;
//  margin-bottom: 60px;
//}
.link{
  position: relative;
  color: $yellow;
  display: inline-block;
  &:before{
    content: "";
    display: block;
    width: 0;
    bottom: 0;
    left: 0px;
    transition: 0.3s ease-out;
    height: 2px;
    background-color: $yellow;
    position: absolute;
  }
  &:hover{
    color: $yellow;
    &:before{
      width: 100%;
    }
  }
}